<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<img th:src="${qrcode}" alt="">

</body>

<script th:inline="javascript">
    // $.ajax({
    //     url: "/api/createQr",
    //     type:"GET",
    //     success:function (data) {
    //         $("#qrCode").attr("src",data.data);
    //         img = data.data;
    //         callbackScan($("#qrCode").attr("src"))
    //     }
    // });
</script>
</html>