<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>验证</title>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <button type="button" id="ok" style="height: 45px; width: 100px; margin: 50px">确定</button>

</body>

<script th:inline="javascript">

    var ctx = /*[[@{/}]]*/;
    var uuid = /*[[${uuid}]]*/;

    $("#ok").click(function () {
        window.location.href = ctx + "wx/login?uuid=" + uuid
    });

</script>
</html>