<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.idea360.oracle.dao.AiProjectGroupMapper">
    <resultMap id="BaseResultMap" type="cn.idea360.oracle.model.AiProjectGroup">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="group_name" property="groupName" />
        <result column="rank" property="rank" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="updater" property="updater" />
    </resultMap>

    <!--连表查询-->
    <resultMap id="Res" type="cn.idea360.oracle.dto.ProjectGroupDTO">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <collection property="customers" ofType="cn.idea360.oracle.model.AiProjectUser">
            <result column="customer_id" property="customerId" />
        </collection>
    </resultMap>


    <insert id="insert" parameterType="cn.idea360.oracle.model.AiProjectGroup" useGeneratedKeys="true">
        INSERT INTO ai_project_group ( company_id, group_name, rank, create_time, update_time, creater, updater )
        VALUES
            ( #{companyId}, #{groupName}, #{rank}, #{createTime}, #{updateTime}, #{creater}, #{updater})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select AI_PROJECT_GROUP_ID_SEQ.CURRVAL from dual
        </selectKey>
    </insert>

    <update id="updateIgnoreNullById">
        UPDATE ai_project_group
        <set>
            <if test="aiProjectGroup.groupName != null">
                group_name = #{aiProjectGroup.groupName}
            </if>
            <if test="aiProjectGroup.updateTime != null">
                update_time = #{aiProjectGroup.updateTime}
            </if>
            <if test="aiProjectGroup.updater != null">
                updater = #{aiProjectGroup.updater}
            </if>
        </set>
        where id = #{aiProjectGroup.id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from ai_project_group where id = #{id}
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        select * from ai_project_group where id = #{id}
    </select>

    <select id="page" resultType="cn.idea360.oracle.model.AiProjectGroup">
        SELECT
            T2.*
        FROM
            ( SELECT T1.*, ROWNUM RN FROM ( SELECT ai.* FROM AI_PROJECT_GROUP ai
              <where>
                  1=1
                  <if test="pageDTO.keyword != null">
                      AND ai.group_name LIKE '%' ||  #{pageDTO.keyword} || '%'
                  </if>
              </where>
              ) T1 ) T2
        WHERE
            RN BETWEEN #{pageDTO.beginResult}
                AND #{pageDTO.endResult}
        ORDER BY
            RANK
    </select>

    <select id="selectLastestRank" resultType="java.lang.Integer">
        select MAX(rank) AS mrank from ai_project_group
    </select>


</mapper>