<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.idea360.oracle.dao.AiProjectGroupMapper">

    <resultMap id="aiProjectGroupMap" type="aiProjectGroup">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="group_name" property="groupName" />
        <result column="rank" property="rank" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="updater" property="updater" />
    </resultMap>



    <insert id="insert" parameterType="aiProjectGroup" useGeneratedKeys="true">
        INSERT INTO ai_project_group ( company_id, group_name, rank, create_time, update_time, creater, updater )
        VALUES
            ( #{companyId}, #{groupName}, #{rank}, #{createTime}, #{updateTime}, #{creater}, #{updater})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select AI_PROJECT_GROUP_ID_SEQ.CURRVAL from dual
        </selectKey>
    </insert>

    <update id="updateIgnoreNullById">
        UPDATE ai_project_group
        <set>
            <if test="aiProjectGroup.groupName != null">
                group_name = #{aiProjectGroup.groupName},
            </if>
            <if test="aiProjectGroup.updateTime != null">
                update_time = #{aiProjectGroup.updateTime},
            </if>
            <if test="aiProjectGroup.updater != null">
                updater = #{aiProjectGroup.updater},
            </if>
        </set>
        where id = #{aiProjectGroup.id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from ai_project_group where id = #{id}
    </delete>

    <select id="selectById" resultMap="aiProjectGroupMap">
        select * from ai_project_group where id = #{id}
    </select>

    <select id="page" resultMap="aiProjectGroupMap">
        SELECT
            T2.*
        FROM
            ( SELECT T1.*, ROWNUM RN FROM ( SELECT ai.* FROM AI_PROJECT_GROUP ai
              <where>
                  <if test="pageDTO != null and pageDTO.keyword != null">
                      AND ai.group_name LIKE '%' ||  #{pageDTO.keyword} || '%'
                  </if>
              </where>
              ORDER BY RANK DESC
              ) T1 ) T2
        <where>
            <if test="pageDTO != null and pageDTO.startIndex != null">
                and RN <![CDATA[ >= ]]> #{pageDTO.startIndex}
            </if>
            <if test="pageDTO != null and pageDTO.endIndex != null">
                AND RN <![CDATA[ <= ]]> #{pageDTO.endIndex}
            </if>
        </where>
    </select>

    <select id="selectLastestRank" resultType="java.lang.Integer">
        select MAX(rank) AS mrank from ai_project_group
    </select>

    <select id="totalRecord" resultType="java.lang.Integer">
        select COUNT(1) from ai_project_group
    </select>

    <select id="selectList" resultType="aiProjectGroup">
        SELECT
        *
        FROM
        ai_project_group
    </select>


</mapper>