<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.idea360.oracle.dao.AiRuleMapper">

    <insert id="insert" parameterType="cn.idea360.oracle.model.AiRule" useGeneratedKeys="true">
        insert into ai_rule (company_id, group_id, rule_name, state, condition, action, rank, create_time, update_time, creater, updater)
        values
            (#{companyId}, #{groupId}, #{ruleName}, #{state}, #{condition}, #{action}, #{rank}, #{createTime}, #{updateTime}, #{creater}, #{updater})
    </insert>

    <update id="updateIgnoreNullById">
      update ai_rule
      <set>
          <if test="aiRule.ruleName != null">
              rule_name = #{aiRule.ruleName},
          </if>
          <if test="aiRule.state != null">
              state = #{aiRule.state},
          </if>
          <if test="aiRule.condition != null">
              condition = #{aiRule.condition},
          </if>
          <if test="aiRule.action != null">
              action = #{aiRule.action},
          </if>
          <if test="aiRule.rank != null">
              rank = #{aiRule.rank},
          </if>
          <if test="aiRule.updateTime != null">
              update_time = #{aiRule.updateTime},
          </if>
          <if test="aiRule.updater != null">
              updater = #{aiRule.updater},
          </if>
      </set>
      WHERE id = #{aiRule.id}
    </update>

    <update id="updateRank">
        <foreach collection="arrList" item="item"  index="index" separator=";">
            update ai_rule set
            rank = #{item.rank}
            where id = #{item.id}
        </foreach>
    </update>

    <delete id="removeById">
        delete from ai_rule where id = #{id}
    </delete>

    <select id="selectById" resultType="cn.idea360.oracle.model.AiRule">
      select * from ai_rule where id = #{id}
    </select>

    <select id="page" resultType="cn.idea360.oracle.model.AiRule">
        SELECT
        T2.*
        FROM
        ( SELECT T1.*, ROWNUM RN FROM ( SELECT ai.* FROM ai_rule ai
        <where>
            <if test="pageDTO != null and pageDTO.keyword != null">
                AND ai.rule_name LIKE '%' ||  #{pageDTO.keyword} || '%'
            </if>
        </where>
        ORDER BY RANK DESC
        ) T1 ) T2
        <where>
            <if test="pageDTO != null and pageDTO.startIndex != null">
                and RN <![CDATA[ >= ]]> #{pageDTO.startIndex}
            </if>
            <if test="pageDTO != null and pageDTO.endIndex != null">
                AND RN <![CDATA[ <= ]]> #{pageDTO.endIndex}
            </if>
        </where>
    </select>
    <select id="totalRecord" resultType="java.lang.Integer">
        select COUNT(1) from ai_rule
    </select>

    <select id="selectLastestRank" resultType="java.lang.Integer">
        select MAX(rank) AS mrank from ai_rule
    </select>

</mapper>