<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.idea360.oracle.dao.JsUserMapper">
    <select id="listByMap" resultType="cn.idea360.oracle.model.JsUser">
        select user_id, real_name, department_id from js_user
        <where>
            <if test="cm != null and cm.departmentId != null and cm.departmentId != 0">
                AND department_id = #{cm.departmentId}
            </if>
            <if test="cm != null and cm.userId != null and cm.keyword != null">
                AND user_id LIKE '%' ||  #{cm.keyword} || '%'
            </if>
            <if test="cm != null and cm.realName != null and cm.keyword != null">
                AND real_name LIKE '%' ||  #{cm.keyword} || '%'
            </if>
        </where>
    </select>
    <select id="listByIds" resultType="cn.idea360.oracle.model.JsUser">
        SELECT
        *
        FROM
        js_user
        <where>
            <if test="ids != null and ids.size() > 0">
                user_id in
                <foreach collection="ids" item="item"  index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
